.font-common{
	font-size:15px;
	text-align:left;
}

.float-right{
	float:right;
}

.font-small{
	font-size:13px;
	text-align:left;
}

.font-common.margin{
	margin:30px 0;
}

.width-dv-9{
	width:11.1% !important;
}

.width-dv-8{
	width:12.5% !important;
}

.width-dv-7{
	width:14.2% !important;
}

.width-dv-6{
	width:16.6% !important;
}

.clear-both{
	clear:both;
	height:0px;
}

 .community_head{
	 margin-top:40px;
 }

.community_head img{
	width:100%;
}

.board-head-element{
	font-size:13px;
}

.board-align{
	margin-left:10px;
	color:#b0b0b0;
	vertical-align:sub;
}

.board-align.active{
	color:#000000;
}

.board-search-box{
	float:right;
}

.board-search-box .search-text{
	width:220px;
	height:24px;
}

.board-search-box>a{
	display:inline-block;
	width:50px;
	height:24px;
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	vertical-align:bottom;
}
.board-search-box>a>span{
	vertical-align:sub;
}
.board-notice-table, .board-my-voice-table{
	width:100%;
	margin-top:10px;
	text-align:center;
	table-layout: fixed;
	border-bottom:#A5A3A4 1px solid;
}

.board-faq-table{
	width:100%;
	margin-top:10px;
	border-bottom:#A5A3A4 1px solid;
	border-top:#A5A3A4 1px solid;
	
}

.board-notice-table th, .board-my-voice-table th{
	padding:5px 0;
}

.board-notice-table td, .board-my-voice-table td{
	padding:5px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.board-notice-table .td01{
	width:7%;
}
.board-notice-table .td02{
	width:68%;
}
.board-notice-table .td03{
	width:15%;
}
.board-notice-table .td04{
	width:10%;
}

.board-my-voice-table .td01{
	width:70%;
}
.board-my-voice-table .td02{
	width:15%;
}
.board-my-voice-table .td03{
	width:15%;
}

.board-faq-table .td01{
	padding:5px 10px;
	width:7%;
	text-align:right;
	vertical-align:top;
	line-height:25px;
}
.board-faq-table .td02{
	padding:5px 10px;
	width:93%;
	line-height:25px;
}

.board-notice-table td.td02{
	text-align:left;
}

.board-my-voice-table img.btn_reply{
	display:inline;
}

.my-voice-btn-logout{
	display:inline-block;
	float:right;
	margin-top:10px;
}

.board-notice-table tr.tr-notice td.td02{
	color:#90703c;
	font-weight:bold;
}

.board-notice-table .tr-header{
	border-top:#A5A3A4 1px solid;
	border-bottom:#A5A3A4 1px solid;
}

.board-my-voice-table .tr-header{
	border-top:#A5A3A4 2px solid;
	border-bottom:#A5A3A4 1px solid;
}

.board-paging{
	text-align:center;
	margin-top:15px;
	font-size:12px;
}

.board-paging span.page-number{
	color:#b0b0b0;
	display:inline-block;
	width:20px;
	height:24px;
}

.board-paging span.page-number>a{
	vertical-align:sub;
}

.board-paging span.page-number.active{
	border:1px solid #555555;
	color:#000000;
}

.board-paging span.page-number.paging-arrow-left{
	margin-right:10px;
}
.board-paging span.page-number.paging-arrow-right{
	margin-left:10px;
}
.room-preview-title{
	text-align:left;
	margin-bottom:10px;
}
.room-preview-title>.main-title{
	font-size:15px;
}
.room-preview-title>.sub-title{
	font-size:13px;
	margin-left:10px;
	vertical-align:middle;
}
.room-preview-title>.desc-title, .article-tit>.desc-title{
	float:right;
	font-size:12px;
	vertical-align:middle;
}

.room-preview{
	margin-bottom:30px;
}

.section-rourneys article .dec{
	font-size:15px;
}

.article-width-60{
	width:90%;
}

.room-info-table{
	width:100%;
	max-width:100% !important;
}

.room-info-table td, .room-info-table th{
	width:33.3333333333%;
}
.room-info-table td img.btn_detail_date{
	display:inline-block;
	width:90px;
	margin-top:8px;
}

.section-rourneys .tab-wrap.two-blocks{
	max-width: 396px;
}

.section-rourneys .tab-wrap.two-blocks li{
	width:50%;
}

.faq-search{
	font-size:13px;
	vertical-align:middle !important;
}

span.faq-search{
	width:70px;
	height:45px;
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	font-size:15px;
	vertical-align:sub !important;
}

select.faq-search{
	width:110px;
	height:24px;
	text-align:center;
	vertical-align:bottom;
}

select.faq-search_eng{
	width:230px;
	height:24px;
	text-align:center;
	vertical-align:bottom;
}

.board-faq-table .faq-content{
	background-color:#f0f0f0;
	padding:15px;
	display:none;
}
.board-faq-table .faq-element.active .faq-content{
	display:block;
}

.faq-element.active td{
	/* color:#90703c; */
}

.faq-element.active td a, .faq-element.active .td01{
	font-weight:bold;
}

.voc-table-wrapper, .voc-table-1 tr, .voc-table-2 tr, .myvoc-process-table tr{
	border-bottom:#A5A3A4 1px solid;
}
.voc-table-top-desc{
	border-bottom:#A5A3A4 2px solid;
}
.voc-table-1{
	display:inline-table;
	width:49.5%;
}

.voc-table-2{
	width:100%;
}

.voc-table-1 td, .voc-table-1 th, .voc-table-2 td, .voc-table-2 th{
	text-align:left;
	padding: 8px 0px 8px 30px;
}

th.essential{
	padding: 8px 0px 8px 15px;
}

.voc-table-1 th, .voc-table-2 th, .myvoc-process-table th{
	font-size:15px;
}

.voc-table-1 .td01{
	width:30%;
}
.voc-table-1 .td02{
	width:70%;
}
.voc-table-2 .td01{
	width:15%;
}
.voc-table-2 .td02{
	width:85%;
}

.voc-table-1 select, .voc-table-1 input, .voc-table-2 select, .voc-table-2 input{
	vertical-align:middle;
	font-size:13px;
	height:22px;
}

.voc-phone-number{
	width:100px;
}

.voc-table-1 .last-col{
	border-bottom:none;
}

.voc-radio{
	vertical-align:middle;
}

label.voc-radio{
	padding-left:10px;
}

.voc-item-desc{
	font-size:11px;
	color:#90703c;
}

.voc-item-desc.margin-left{
	margin-left:5px;
}
.voc-item-desc.margin-top{
	margin-top:8px;
}
.voc-item-desc.margin-bottom{
	margin-bottom:8px;
}
.voc-email{
	width:150px;
}

.voc-radio.margin-right{
	margin-right:50px;
}
	
.voc-address{
	margin-top:5px;
	width:250px;
}
.voc-zip-code{
	width:120px;
}
.voc-btn-zip{
	width:100px;
}

.voc-address.margin-right, .voc-zip-code{
	margin-right:5px;
}

img.voc-check{
	display:inline;
	margin-right:5px;
	
}
.voc-date{
	width:35%;
}
.voc-subject{
	width:90%;
}
.voc-location, .voc-crew-name{
	width:270px;
}
.voc-content{
	font-size:13px;
	text-align:left;
	width:90%;
	height:150px;
	resize:none;
	overflow-y:scroll;
}
.myvoc-process{
	max-width:700px;
	margin:0 auto;
	text-align:center;
}
.myvoc-process img.process{
	vertical-align:middle;
	display:inline;
	width:16%;
}
.myvoc-process img.arrow{
	vertical-align:middle;
	display:inline;
	width:2%;
	margin:0 3.5%;
}
.myvoc-table{
	width:100%;
	max-width:900px;
	margin:0 auto;
}

.myvoc-process-table{
	width:100%;
	border-top:#A5A3A4 2px solid;
}
.myvoc-process-table .td01{
	width:20%;
	text-align:center;
}
.myvoc-process-table .td02{
	width:80%;
	text-align:left;
}

.myvoc-process-table th, .myvoc-process-table td{
	padding: 15px 10px;
}

.myvoc-content{
	width:95%;
	border:#A5A3A4 1px solid;
	padding:8px;
	height:150px;
	overflow-y:scroll;
	color:#959394;
}
.myvoc-inner-table{
	border:#b5b3b4 1px solid;
	width:95%;
	margin-top:10px;
}

.myvoc-inner-table td, .myvoc-inner-table th{
	width:33.3333333%;
	font-size:13px;
	text-align:center;
	border-right:#b5b3b4 1px solid;
}

.myvoc-inner-table td.last, .myvoc-inner-table th.last{
	border-right:none;
}

.myvoc-inner-table th{
	background-color:#f0f0f0;
}

.myvoc-inner-table td{
	padding:20px 5px;
}
.myvoc-btn-logout{
	text-align:right;
	margin-top:15px;
}
.myvoc-btn-logout img{
	display:inline;
	width:150px;
}
.myvoc-btn-list{
	text-align:center;
	margin-top:10px;
}
.myvoc-btn-list img{
	display:inline;
	width:120px;
}
@media screen and (max-width:768px){
	.font-common{
		font-size:13px;
		text-align:left;
	}

	.font-small{
		font-size:11px;
		text-align:left;
	}
	
	.section-tit.t2 small{
		font-size:15px;
	}
	
	.section-rourneys .dec{
		margin-bottom:20px;
	}
	
	.board-search-box .search-text{
		width:150px;
		height:20px;
	}
	
	.board-head-element{
		font-size:12px;
	}
	
	.board-search-box>a{
		width:40px;
		height:20px;
		vertical-align:top;
	}
	
	.board-search-box>a>span{
		vertical-align:baseline;
		font-size:12px;
	}
	
	select.faq-search{
		width:50px;
		height:20px;
		text-align:center;
		vertical-align:bottom;
	}
	
	.board-search-box .search-text{
		margin-right:0;
	}
	
	.board-paging{
		font-size:10px;
	}
	
	.board-notice-table{
		font-size:12px;
	}
	
	.board-notice-table .td01{
		width:15%;
	}
	.board-notice-table .td02{
		width:50%;
	}
	.board-notice-table .td03{
		width:20%;
	}
	.board-notice-table .td04{
		width:15%;
	}
	
	.board-my-voice-table .td01{
		width:53%;
	}
	.board-my-voice-table .td02{
		width:25%;
	}
	.board-my-voice-table .td03{
		width:22%;
	}
	
	.room-preview-title>.desc-title{
		float:none;
		font-size:11px;
		vertical-align:middle;
	}
	
	.article-tit>.desc-title{
		font-size:11px;
		vertical-align:middle;
	}
	
	.section-rourneys article .dec{
		font-size:13px;
	}
	
	.article-width-60{
		width:100%;
	}

	.room-info-table td img.btn_detail_date{
		width:80px;
		margin-top:5px;
	}
	
	.my-voice-btn-logout .btn-logout{
		width:100px;
	}
	
	.board-my-voice-table img.btn_reply{
		width:70px;
	}
	
	span.faq-search{
		vertical-align:baseline !important;
	}
	
	input[type=text].faq-search{
		width:100px;
	}
	
	.voc-table-1, .voc-table-2, .myvoc-process-table, .voc-table-1 select, .voc-table-1 input, .voc-table-1 label, .voc-table-2 select, .voc-table-2 input, .voc-table-2 label{
		font-size:12px;
	}
	
	.voc-table-1{
		display:table;
		width:100%;
	}
	
	.voc-table-1 th, .voc-table-2 th, .myvoc-process-table th{
		font-size:13px;
	}
	
	.voc-table-1 td, .voc-table-1 th, .voc-table-2 td, .voc-table-2 th{
		padding: 8px 0px 8px 25px;
	}

	th.essential{
		padding: 8px 0px 8px 10px;
	}
	
	.voc-table-1 .last-col{
		border-bottom:#A5A3A4 1px solid;
	}
	.voc-table-wrapper{
		border-bottom:none;
	}
	.voc-table-2 .td01{
		width:30%;
	}
	.voc-table-2 .td02{
		width:70%;
	}
	label.voc-radio{
		padding-left:5px;
	}
	.voc-radio.margin-right{
		margin-right:30px;
	}
	.voc-item-desc.margin-left{
		margin-left:5px;
	}
	
	.margin-left.m-block{
		margin-left:0px;
		margin-top:5px;
	}
	
	.voc-item-desc{
		font-size:10px;
	}
	
	.voc-email{
		width:70px;
	}
	
	.voc-address{
		margin-top:5px;
		width:100%;
	}
	.voc-date{
		width:200px;
	}
	.voc-subject{
		width:100%;
	}
	.voc-location, .voc-crew-name{
		width:200px;
	}
	.voc-content{
		width:95%;
	}
	.myvoc-btn-logout{
		text-align:center;
	}
	.myvoc-process-table .td01{
		width:30%;
		text-align:center;
	}
	.myvoc-process-table .td02{
		width:70%;
		text-align:left;
	}
}

/* ¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é  ½æ³×ÀÏ °¶·¯¸® ¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é¡é*/

/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    transform: translate(0px, 0px);
    transition-property: transform,height;
    transition-duration: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: inherit !important;
    transition-property: opacity;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;

    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}

@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}

@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}

@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: grabbing;
}

.room-preview-img img{
	width:100%;
}

.room-preview-img .lSSlideOuter .lSPager img{
	filter:brightness(0.3);
}

.room-preview-img .lSSlideOuter .lSPager .active img{
	filter:none;
}